body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --primary: #19B9FD;
  --main-text: #3C3C3C;
  --secondary-text: #9A9A9A;
  --white: #FFFFFF;
  --lines: #F9FAFC;
  --background: #F4F4F9;
  --background-lk:  #F5F5F5;
  --footer-background: #303030;
  --input-border: #C1C1D4;
  --danger: #FF1F00;
  --find: #0C8AFF;
  --lost: #FF9E0C;
  --charity: #6FC246;
}